@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

:root {
  --font-base:'Playfair Display', serif;
  --color-hover: #ebebeb;
  --color-bg: #0B1D26;
  --color-white: #FFFFFF;
  --color-gold: #FBD784;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

.nav__padding {
  padding: 1rem 2.5rem;
}



.padding__right {
  padding-right: 1rem;
}

.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 850px) {
  .nav__padding {
    padding: 1rem 1.5rem;
  }
}

@media screen and (max-width: 550px) {
  .nav__padding {
    padding: 0.5rem 1rem;
  }
}

@media screen and (max-width: 350px) {
  .nav__padding {
    padding: 0.5rem 0.5rem;
  }
}


